.heartIcon {
    width: 28px;
    height: 28px;
    /* Плавное свойство, чтобы не дёргалось, если захотите переходы */
    transition: transform 0.2s ease;
}

/* Класс, который запускает keyframe-анимацию */
.scale-animation {
    animation: pulseScale 0.3s forwards ease;
}

.scale-animation-like {
    animation: pulseScaleLike 1s forwards ease;
}

@keyframes pulseScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pulseScaleLike {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.6);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.6);
    }
    100% {
        transform: scale(1);
    }
}
