/* MyGeneratedPhotosList.module.css */

.photoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4px;
    margin-top: 0px;
}

.photoCard {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    height: max-content;
    aspect-ratio: 4/5;
}

.photoImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 4/5;
    border-radius: 10px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    border: 0;
    outline: 0;
}

.modalOverlayWithoutBackground {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
    border: 0;
    outline: 0;
}

.modalContent {
    position: relative;
    background: var(--bg-color, #fff);
    border: none;
    padding: 0;
    width: 100%;
    max-width: 600px;
    height: 100%;
    overflow: hidden;
    animation: zoomIn 0.3s ease-out;
    transition: opacity 0.3s ease-in-out;
    outline: 0;
    overflow-y: auto;
}

@media(min-width: 1200px) {
    .modalContent {

    }
}

.miniModal {
    position: relative;
    background: var(--bg-color, #fff);
    border: none;
    padding: 0;
    width: 50%;
    max-width: 600px;
    height: 50%;
    overflow: hidden;
    border-radius: 10px;
    animation: zoomIn 0.3s ease-out;
    transition: opacity 0.3s ease-in-out;
    outline: 0;
}

@keyframes zoomIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.9);
        opacity: 0;
    }
}

.modalContent.modalClosing {
    animation: zoomOut 0.3s ease-out;
    opacity: 0;
}

.miniModal.modalClosing {
    animation: zoomOut 0.3s ease-out;
    opacity: 0;
}

.modalImage {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeButton:hover {
    background: rgba(0, 0, 0, 0.8);
}

.loadingPlaceholder {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectCircle {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    border: 2px solid #ccc;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
    z-index: 2;
}

.selectCircle:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.selected {
    border-color: #2196F3;
    background-color: #2196F3 !important;
}

/*.checkIcon {*/
/*    color: #fff;*/
/*    fill: #fff;*/
/*    font-size: 14px;*/
/*}*/

.selectedBar {
    position: sticky;
    top: 35px;
    z-index: 9;
    background-color: var(--bg-color, #fff);
    padding: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: var(--bg-color);
    color: white;
    border: none;
    padding: 5px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s ease;
}

.rightNav {
    height: 100%;
    width: 54px;
    right: 0;
    position: absolute;
    top: 0;
}

.leftNav {
    height: 100%;
    width: 54px;
    left: 0;
    position: absolute;
    top: 0;
}

.playButton {
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    background: inherit;
}

.playButtonIcon {
    fill: var(--bg-color, #fff);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: rgb(0,0,0,.4);
}

.imageBlock {
    /*height: calc(100vh - 200px);*/
    max-height: calc(100vh - 200px);
    display: block;
    width: 100%;
    height: 100%;
}

.webAppModal {
    position: fixed;
    top: 50%;
    left: 50%;
    background: var(--bg-color, #fff);
    border: 1px solid rgb(0,0,0,.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1200;
}

.rightModalContent {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color, #fff);
    z-index: 9999;
    overflow-y: auto;
    border-left: 1px solid rgb(0,0,0,.1);
}

@media(min-width: 1200px) {
    .rightModalContent {
        width: calc(100% - 1200px);
        max-width: 300px;
        min-width: 300px;
        right: 0;
    }
}

@media(min-width: 1520px) {
    .rightModalContent {
        width: calc(100% - 1200px);
        max-width: 300px;
        min-width: 300px;
        left: 1220px;
        border-right: 1px solid rgb(0,0,0,.1);
    }
}

.rightModalHeader {
    width: 100%;
    padding: 5px;
}

.publishedBadge {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    border-radius: 50%;
    /*border: 1px solid white;*/
    width: 32px;
    height: 32px;
}

.doubleCheck {
    display: flex;
    flex-direction: row;
}

.checkIcon2 {
    fill:white; 
    font-size: 18px;
    margin-left: -12px;
}
.publishedText {
    color: white;
    font-size: 12px;
}