.modelPreview {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.promptPreview {
    width: 50%;
    border-left: 1px solid var(--glass-border);
    display: flex;
    padding-left: 10px;
}

.hiddenHr {
    display: none;
}

@media screen and (max-width: 800px) {
    .promptPreview {
        border: 0;
        padding: 0;
        width: 100%;
        margin-top: 15px;
    }

    .modelPreview {
        display: block;
    }

    .hiddenHr {
        display: block;
    }
}

.modelPreview img {
    height: 90px;
    object-fit: cover;
    border-radius: 20px;
}

.header {
    display: flex;
    gap: 8px;
}

.runs {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info {
    display: block;
}

.authorAvatar {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
}

.promptAuthor {
    margin: 0 10px;
    display: flex;
}

.authorInfo {
    margin-left: 8px;
}