.profileContainer {
    width: 100%;
    margin: auto;
    font-family: Arial, sans-serif;
    overflow-y: auto;
    height: calc(100vh - 80px);
}

.profileHeader {
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.profileAvatarWrapper {
    width: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileAvatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid white;
    aspect-ratio: 1/1;
    max-width: 100px;
}

.blockStats {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    gap: 10px;
    text-align: center;
    height: 100%;
    width: 100%;
    
}

.profileStats {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    text-align: center;
    height: 100%;
}

.statNumber {
    font-size: 18px;
    font-weight: bold;
}

.statLabel {
    font-size: 14px;
    color: gray;
}


@media(max-width: 800px) {

    .statLabel {
        font-size: 100%;
        color: gray;
    }

    .statNumber {
        font-size: 14px;
        font-weight: bold;
    }
}

@media(min-width: 1200px) {

    .statLabel {
        font-size: 18px;
        color: gray;
    }

    .statNumber {
        font-size: 18px;
        font-weight: bold;
    }
}

.profileUserInfo {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.profileName {
    width: min-content;
    font-size: 18px;
    font-weight: bold;
}

.profileUsername {
    color: gray;
    font-size: 14px;
}

.profileDescription {
    font-size: 14px;
    color: #333;
    text-align: center;
    margin-top: 5px;
}

.profileButtons {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.btn {
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btnPrimary {
    background-color: #0095f6;
    color: white;
    border: none;
}

.btnOutlinePrimary {
    border: 1px solid #0095f6;
    color: #0095f6;
    background-color: white;
}

.btnOutlineSecondary {
    border: 1px solid #ccc;
    color: #333;
    background-color: white;
}

.statBlock {
    cursor: pointer;
    display: block;
    width: 100%;
}

.statBlock2 {
    cursor: pointer;
    display: block;
    width:100%;
}
.editBlock {
    width: 100%;
    background: var(--bg-color, #fff);
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    margin: 0 auto;
    padding: 5px;
    height: calc(100vh - 90px);
    overflow-y: auto;
    background-color: var(--bg-color, #fff);
}
.center-content-block {
    width: 100%;
    max-width: 600px;
    margin:auto;
}

.label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #6d6d72;

}

.pageTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.textarea {
    width: 100%;
    resize: none;
    height: 80px;
    padding: 10px;
    font-size: 16px;
    color: var(--text-color, #000);
    border-radius: 8px;
    outline: none;
    transition: border 0.3s;
}

.textarea:focus {
    border: 1px solid #0077ff;
}
.modalTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.userList {
    list-style: none;
    padding: 5px;
    overflow-y: auto;
    width: 100%;
}

.userItem {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid #333;
}

.userItem:last-child {
    border-bottom: none;
}

/* Информация о пользователе */
.userInfo {
    display: flex;
    flex-direction: column;
}

.noUsers {
    text-align: center;
    color: gray;
    font-size: 14px;
    margin-top: 10px;
}