.container {
    display: flex;
    gap: 20px;
    align-items: center;
}
.circleColor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.circleColor.active::before {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: transparent;
    border-bottom: 3px solid #e67e22;
    border-right: 3px solid #e67e22;
    border-top: 3px solid #f1c40f;
    border-left: 3px solid #f1c40f;
    border-radius: 50%;
}
/*.circleColor:first-child {*/
/*    background: linear-gradient(135deg, #f1c40f 50%, #e67e22 50%);*/
/*}*/
/*.circleColor:last-child {*/
/*    background: linear-gradient(135deg, #f39c12 50%, #e74c3c 50%);*/
/*}*/